#header {

  background:			#000;
  width:				100%;
  height:				70px;
  
}

#header, #logo {

  position:				fixed;
  top:					0px;
  right:				0px;
  left:					0px;
  bottom:				0px;
  z-index:				1;
  
}

#logo {

  color:				#fff;
  left:					80px;
  top:					20px;
  font-size:			30px;
  
}

#content {

  position:				relative;
  top:					80px;
  margin:				0px;
  margin-left:			10px;
  margin-right:			10px;
  z-index:				0;
  
}

* {

  margin:				0;
  padding:				0;
  
}

body {

  background:			#eee;
  font-family:			sans-serif;
  witdh:				100%;
  
}

.button {

 text-align:			center;
 width:					90%;
 border:				1px solid #ffc826;
 
 /* zaokrąglamy :) */
 -webkit-border-radius:	3px;
 -moz-border-radius:	3px;
 border-radius:			3px;
 font-size:				12px;
 font-family:			sans-serif;
 
 /* rozszerzamy przycisk (góra / dół ) */
 padding:				10px 10px 10px 10px;
 
 /* ustawiamy tekst */
 text-decoration:		none;
 display:				inline-block;
 font-weight:			bold;
 color:					#fff;
 background-color:		#ffd65e;
 
 /* gradienty */
 background-image:		-webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
 background-image:		-webkit-linear-gradient(top, #ffd65e, #febf04);
 background-image:		-moz-linear-gradient(top, #ffd65e, #febf04);
 background-image:		-ms-linear-gradient(top, #ffd65e, #febf04);
 background-image:		-o-linear-gradient(top, #ffd65e, #febf04);
 background-image:		linear-gradient(to bottom, #ffd65e, #febf04);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffd65e, endColorstr=#febf04);
}

.button:hover{

 border:				1px solid #f7b800;
 background-color:		#ffc92b;
 
 background-image:		-webkit-gradient(linear, left top, left bottom, from(#ffc92b), to(#ce9a01));
 background-image:		-webkit-linear-gradient(top, #ffc92b, #ce9a01);
 background-image:		-moz-linear-gradient(top, #ffc92b, #ce9a01);
 background-image:		-ms-linear-gradient(top, #ffc92b, #ce9a01);
 background-image:		-o-linear-gradient(top, #ffc92b, #ce9a01);
 background-image:		linear-gradient(to bottom, #ffc92b, #ce9a01);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc92b, endColorstr=#ce9a01);
 
}