/* reset */
html, body {
	background-color: #000000;
	/*
	padding: 0;
	margin: 0;
	*/
	/*padding-top: 60pt;*/
	color: #fff;
	font-family: sans-serif;
	height: 100%;
	text-align: justify;
}
/*
#back {
	margin: 0; 
	position: absolute;
	background-image: url('../img/background.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-clip: content-box; 
	margin-top: -50px;
}*/


body {
	background-color:rgba(255,255,255,0);
	padding: 0;
	margin-bottom: 30 pt;
}

h1, h2 {
	color: #FFF391;
}

ul {
	list-style-image: url('../img/bodyli.png');
}

a {
	padding: 0;
	margin: 0;
}
 

/* buttons */

.divider {
	width: 5px;
	height: auto;
	display: inline-block;
}

.button {
	color: #D14C1E;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	width: 98%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles 
---------------------------------------------- */

/* orange */
.orange {
	color: #D14C1E;
	border: solid 1px #D99F28;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#E9DEB0), to(#FCD13C));
	background: -moz-linear-gradient(top,  #E9C58B,  #FC623C);
}
.orange:hover {
	background: #ED9156;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFEDE6), to(#FFDCD0));
	background: -moz-linear-gradient(top,  #FFEDE6,  #FFDCD0);
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}
